@font-face {
    font-family: 'MyFont';
    src: url('./FuzzyBubbles-Regular.woff2') format('woff2'),
    url('./FuzzyBubbles-Regular.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

.hello {
    font-family: 'MyFont', serif;
    color: red;
    background: url('./icon.png') no-repeat;
}